@tailwind base;
/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind components; */
/* @tailwind utilities; */
@layer base {
  :root {
    --bg-primary: 255, 255, 255;
    --bg-secondary: 245, 246, 247;
    --bg-tertiary: 238, 238, 238;

    --text-primary: 0, 0, 0;
    --text-secondary: 56, 63, 74;
    --text-tertiary: 255, 255, 255;
  }

  .indigo {
    --bg-primary: #4f46e5;
    --bg-secondary: #4338ca;
    --bg-tertiary: 77, 77, 77;

    --text-primary: #fff;
    --text-secondary: 77, 77, 77;
    --text-tertiary: 77, 77, 77;

    --ring-primary: #6366f1;

    --ring-offset-primary: #c7d2fe;
  }
}
