@tailwind base;
/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind components; */
/* @tailwind utilities; */
@layer base {
  :root {
    --bg-primary: #fff;
    --bg-secondary: #f3f4f6;

    --text-primary: #000;
    --text-secondary: #000;

    --ring-primary: #93c5fd;

    --ring-offset-primary: #93c5fd;

    --border-color: #93c5fd;
  }

  .indigo {
    --bg-primary: #4f46e5;
    --bg-secondary: #4338ca;

    --text-primary: #fff;
    --text-secondary: #fff;

    --ring-primary: #6366f1;

    --ring-offset-primary: #c7d2fe;

    --border-color: #4f46e5;
  }
}
